@charset "UTF-8";
@media screen and (min-width: 600px) {
    /* Ajoutez vos styles ici */
    body {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        text-align: center;
    }
    /* CSS pour l'image du logo BOCCARD */
    .logo {
        width: 10%; /* Ajustez la largeur selon vos préférences */
        height: fit-content;
        position: absolute;
        margin-top: 0.5%; /* Position en haut */
        left: 2%; /* Position à gauche */
    }
    /* CSS pour le conteneur */
    .container {
        position: relative;
            background-color: #002c3b;
            color: rgb(255, 255, 255);
            display: flex;
            width: auto;  
            height: 70px;  
            justify-content: flex-start;
            align-items: center;
    }

    /* CSS pour le texte "Recherche" */
    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* Pour centrer l'élément au centre horizontalement */
        font-size:xx-large;
        width:auto;
        align-items: center;
    }
    
    /*========================CORPS DE PAGE========================================================================*/
    
/* CSS pour le texte "MCO" */

.presentation-container {
    color: #24597a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Ajout de rembourrage pour l'espacement */
    max-width: 800px; /* Définissez la largeur maximale souhaitée en pixels ou d'autres unités */
    margin: 0 auto; /* Centrez horizontalement l'élément en utilisant une marge automatique */
}

h2 {
    font-size: 16px;
    margin-top: 20px; /* Correction de la valeur de la marge */
}
/* CSS pour le conteneur du bouton */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
/* CSS pour le bouton "Commencer" */
.start-button {
    width: 200px;
    height: 50px;
    background-color: #00b3ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.start-button:hover {
    background-color: #0056b3;
}
.start-button:active {
    background-color: #004999;
}

/* Button Contact */
.contact-button {
    position: absolute;
    top: 10;
    right: 20px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(255, 255, 255); /* info-500 */
    background: #00b3ff; /* white */
    opacity: 1;
    border-radius: 4px; /* border-m */
    border-width: 4px;
    border-color: #00b3ff; /* info-500 */
    border-style: solid;
    transition: transform 0.2s ease; /* Ajoutez une transition pour un effet de douceur */
     /* Ajoutez une échelle par défaut */
    transform: scale(1);
    cursor: pointer; /* Curseur par défaut (flèche) */
}

/* Hover */
.contact-button:hover {
  color: #197DCAFF; /* info-600 */
  background: #FFFFFFFF; /* white */
   /* Appliquez un effet de zoom au survol */
   transform: scale(1.1); /* Agrandit le bouton de 10% au survol */
   cursor: pointer; /* Exemple de curseur personnalisé (crosshair) au survol */
}
/* Pressed */
.contact-button:hover:active {
  color: #166DB0FF; /* info-650 */
  background: #FFFFFFFF; /* white */
}
/* Disabled */
.contact-button:disabled {
  opacity: 0.4; 
}
}

@media screen and (max-width: 599px) {
    /* Ajoutez vos styles ici pour mobiles */
    body {
        position: relative;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        text-align: center;
    }
    /* CSS pour l'image du logo BOCCARD */
    .logo {
        width: 30%; /* Ajustez la largeur selon vos préférences */
        position: absolute;
    }
    /* CSS pour le conteneur */
    .container {
        position: relative;
        background-color: #002c3b;
        color: rgb(255, 255, 255);
        display: flex;
        width: auto;  
        height: 70px;  
        justify-content: flex-start;
        align-items: center;
    }

    /* Button Contact */
.contact-button {
    position: absolute;
    display: flex;
    right:5%;
    width: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    color: rgb(255, 255, 255); /* info-500 */
    background: #00b3ff; /* white */
    opacity: 1;
    border-radius: 4px; /* border-m */
    border-width: 4px;
    border-color: #00b3ff; /* info-500 */
    border-style: solid;
    transition: transform 0.2s ease; /* Ajoutez une transition pour un effet de douceur */
     /* Ajoutez une échelle par défaut */
    transform: scale(1);
    cursor: pointer; /* Curseur par défaut (flèche) */
}

/* Hover */
.contact-button:hover {
  color: #197DCAFF; /* info-600 */
  background: #FFFFFFFF; /* white */
   /* Appliquez un effet de zoom au survol */
   transform: scale(1.1); /* Agrandit le bouton de 10% au survol */
   cursor: pointer; /* Exemple de curseur personnalisé (crosshair) au survol */
}
/* Pressed */
.contact-button:hover:active {
  color: #166DB0FF; /* info-650 */
  background: #FFFFFFFF; /* white */
}
/* Disabled */
.contact-button:disabled {
  opacity: 0.4; 
} 
    
    /* CSS pour le texte "Recherche" */
    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* Pour centrer l'élément au centre horizontalement */
        font-size:medium;
        width:auto;
        align-items: center;
    }
    
    /*========================CORPS DE PAGE========================================================================*/
    
/* CSS pour le texte "MCO" */

.presentation-container {
    color: #24597a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Ajout de rembourrage pour l'espacement */
    max-width: 800px; /* Définissez la largeur maximale souhaitée en pixels ou d'autres unités */
    margin: 0 auto; /* Centrez horizontalement l'élément en utilisant une marge automatique */
}

h2 {
    font-size: 16px;
    margin-top: 20px; /* Correction de la valeur de la marge */
}
/* CSS pour le conteneur du bouton */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS pour le bouton "Commencer" */
.start-button {
    width: fit-content;
    height: 8vh;
    background-color: #00b3ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.start-button:hover {
    background-color: #0056b3;
}
.start-button:active {
    background-color: #004999;
}
}